/* universal selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* type selector */
header {
  background-color: #1f2937;
}

nav {
  justify-content: space-between;
  margin-bottom: 76px;
  padding-top: 8px;
}

ul {
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

/* class selector */
.logo_text {
  font-size: 24px;
}

.hero_main_text {
  font-size: 48px;
  line-height: 0.9;
}

.hero_image {
  background-color: #e5e7eb;
}

.info {
  text-align: center;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 31px 0;
}

.image {
  flex-direction: column;
  width: 150px;
  height: 200px;
  gap: 8px;
}

.image div {
  flex-grow: 1;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

/* grouping selector */
header,
.info {
  padding: 0 183px;
  height: 366px;
}

button,
.logo_text,
.hero_main_text {
  color: #f9faf8;
  font-weight: 900;
}

a,
.hero_secondary_text {
  font-size: 18px;
  color: #e5e7eb;
}

nav,
ul,
.hero_content,
.hero_image,
.collection,
.image {
  display: flex;
}

nav,
.hero_image {
  align-items: center;
}

.hero_main_text,
.hero_secondary_text {
  margin-bottom: 8px;
}

.hero_content,
.collection {
  gap: 32px;
}

.hero_image,
.collection {
  justify-content: center;
}

/* descendant combinator */
.hero_content div {
  flex-basis: 0;
  flex-grow: 1;
}
